<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<p>
			<span th:text="#{authenticated.message}"> </span>
			<span
				sec:authentication="principal.username" th:inline="text"> Dinero: </span>
				<span th:text="${user.money}"> </span>
		</p>
		<p th:text="#{userOffers.message}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableMarks"
				id="tableMarks">
				<thead>
					<tr>
						<th class="col-md-1">Id</th>
						<th>Description</th>
						<th>Score</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td th:text="${product.id}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.score}"></td>
						<td><a th:href="${'/product/details/' + product.id}">detalles</a></td>
						<td><a th:href="${'/product/edit/' + product.id}"
							sec:authorize="hasRole('ROLE_ESTANDAR')">modificar</a></td>
						<td><a th:href="${'/product/delete/' + product.id}"
							sec:authorize="hasRole('ROLE_ESTANDAR')">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>