<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<p sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{admin.message}"></p>
		<div sec:authorize="hasRole('ROLE_ESTANDAR')">
		<p>
			<span th:replace="fragments/emailMoney" ></span>
		</p>
		<p th:text="#{userOffers.message}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableMarks"
				id="tableMarks">
				<thead>
					<tr>
						<th class="col-md-1">Id</th>
						<th th:text="#{table.message1}">Título</th>
						<th th:text="#{table.message2}">Descripción</th>
						<th th:text="#{table.message3}">Precio</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td th:text="${product.id}"></td>
						<td th:text="${product.title}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.money}"></td>
						<td><a th:href="${'/product/details/' + product.id}" th:text="#{details.message}"></a></td>
						<td th:if="${!product.vendido}"><a sec:authorize="hasRole('ROLE_ESTANDAR')"
							th:href="${'/product/edit/' + product.id}" th:text="#{modify.message}"></a>
						</td>
						<td th:if="${!product.vendido}"><a sec:authorize="hasRole('ROLE_ESTANDAR')"
							th:href="${'/product/delete/' + product.id}" th:text="#{delete.message}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>