<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />




	<div class="container">
		<h2 th:text="#{offer.details}"></h2>
		
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{title.message}"></div>
			<div class="panel-body" th:text="${product.title}">
				Ejercicio 1</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{description.message}"></div>
			<div class="panel-body" th:text="${product.description}">
				Ejercicio 1</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{table.message3}"></div>
			<div class="panel-body" th:text="${product.money}">100</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{creation.message}"></div>
			<div class="panel-body" th:text="${product.date}"></div>
		</div>
	</div>
	<footer th:replace="fragments/footer" />


</body>
</html>
